@import "tailwindcss";


@keyframes shimmer {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

@keyframes loading {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(5px); }
  100% { opacity: 1; transform: translateY(0); }
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-reveal {
  display: none;
}